<%- include("links") -%> 
<%- include("thankHeader") -%>
<title>sorry</title>
</head>
<body>
  <div
    style="margin: auto; padding-top: 200px; width: 100%; text-align: center"
  >
    <h2>We are sorry for not being able to meet your expections.😭</h2>
  </div>
<div>
  <p style="padding-bottom: 100px">Your Account has been Deleted</p>
  <a href="/">
    <button type="button" class="btn btn-outline-light btn-lg do">
     Back To Registeration Page
    </button>
  </a>
  <%- include("thankFooter") -%>
</div>