<footer
  id="footer"
  style="padding: 2% 10%; background-color: black; text-align: center"
>
  <i class="fab fa-facebook-f fa-2x" style="margin: 20px 10px; color: white"></i>
  <i class="fab fa-twitter fa-2x" style="margin: 20px 10px; color: white"></i>
  <i class="fab fa-instagram fa-2x" style="margin: 20px 10px; color: white"></i>
  <i class="fas fa-envelope fa-2x" style="margin: 20px 10px; color: white"></i>
  <p style="color: white; padding: 0; font-size: 1.9rem">
    © Copyright 2021 Prime Location
  </p>
  <p style="font-size: 1rem; color: white; padding: 0">
    Powered By: Deva Corporation
    <i class="fas fa-smile-wink" style="color: white"></i> and Union Error
    <i class="fas fa-exclamation-triangle"></i>
  </p>
</footer>
