<footer
  id="footer"
  style="padding: 2% 10%; background-color: white; text-align: center"
>
  <i class="soc-icon fab fa-facebook-f fa-2x" ></i>
  <i class="soc-icon fab fa-twitter fa-2x"></i>
  <i class="soc-icon fab fa-instagram fa-2x"></i>
  <i class="soc-icon fas fa-envelope fa-2x"></i>
  <p>© Copyright 2021 Prime Location</p>
  <p style="font-size: 1rem">
    Powered By: Deva Corporation <i class="fas fa-smile-wink"></i> and Union
    Error
    <i class="fas fa-exclamation-triangle"></i>
  </p>
</footer>
