<div style="text-align: center; color: white">
  <a href="/home" style="text-decoration: none; color: white">
    <h1
      style="
        font-size: 5rem;
        font-family: Fredoka One, cursive;
        padding-top: 70px;
      "
    >
      Prime Location
    </h1></a
  >
  <p style="font-size: 1rem">
    Powered By: Deva Corporation <i class="fas fa-smile-wink"></i> and Union
    Error <i class="fas fa-exclamation-triangle"></i>
  </p>
</div>
