<%- include("links") -%>
    <style>
      body {
        background-color: black;
        text-align: center;
      }
      .brandT {
        font-family: "Fredoka One", cursive;
        font-size: 4rem;
      }
      .txt {
        font-size: 1.5rem;
        font-family: "Arimo", sans-serif;
      }

      hr {
        background: white;
      }

      .contact-form {
        color: white;
        width: 80%;
        margin-top: 70px;
        padding: 20px;
      }
      .brandH {
        padding-top: 70px;
        margin: auto;
      }
      .brandT {
        font-size: 5rem;
      }
      .txt {
        font-size: 2.5rem;
      }
      #menu {
        padding: 7% 15%;
      }
      p {
        padding-bottom: 50px;
      }
    </style>
    <title>Menu</title>
  </head>
  <body>
    <%- include("headerM") -%>
    <section id="menu" style="background-color: white">
      <h1>Biryani</h1>
      <div class="row">
        <div class="col-lg-3 col-md-6 serv-box">
          <img
            src="m1.png"
            alt=""
            style="height: 10rem; width: 10rem; border-radius: 100px"
          />
          <p>
            Subz-E-Falafel <br />(Classic Veg Biryani - Serves 2) <br />
            Price: ₹567
            <br>
          </p>
        </div>
        <div class="col-lg-3 col-md-6 serv-box">
          <img
            src="m2.png"
            alt=""
            style="height: 10rem; width: 10rem; border-radius: 100px"
          />
          <p>
            Subz-E-Biryani <br />[Veg Biryani - Serves 1]
            <br />
            Price: ₹260
          </p>
        </div>
        <div class="col-lg-3 col-md-6 serv-box">
          <img
            src="m3.png"
            alt=""
            style="height: 10rem; width: 10rem; border-radius: 100px"
          />
          <p>
            Zaikedaar Paneer <br />[Paneer Biryani - Serves 1]
            <br />
            Price: ₹295
          </p>
        </div>
        <div class="col-lg-3 col-md-6 serv-box">
          <img
            src="m4.png"
            alt=""
            style="height: 10rem; width: 10rem; border-radius: 100px"
          />
          <p>
            Hyderabadi Subz-E-Biryani<br />(Spicy Veg Biryani Serves 2)
            <br />
            Price: ₹468
          </p>
        </div>
      </div>
      <h1>Burger</h1>
      <div class="row">
        <div class="col-lg-3 col-md-6 serv-box">
          <img
            src="m5.png"
            alt=""
            style="height: 10rem; width: 10rem; border-radius: 100px"
          />
          <p>
            McAloo Tikki™ <br />Double Patty Burger <br />
            Price: ₹65
          </p>
        </div>
        <div class="col-lg-3 col-md-6 serv-box">
          <img
            src="m6.png"
            alt=""
            style="height: 10rem; width: 10rem; border-radius: 100px"
          />
          <p>
            McSpicy™ <br />Paneer Burger
            <br />
            Price: ₹158
          </p>
        </div>
        <div class="col-lg-3 col-md-6 serv-box">
          <img
            src="m7.png"
            alt=""
            style="height: 10rem; width: 10rem; border-radius: 100px"
          />
          <p>
            McVeggie™ <br />Burger
            <br />
            Price: ₹92
          </p>
        </div>
        <div class="col-lg-3 col-md-6 serv-box">
          <img
            src="m8.png"
            alt=""
            style="height: 10rem; width: 10rem; border-radius: 100px"
          />
          <p>
            Veg Maharaja<br />Mac Burger
            <br />
            Price: ₹193
          </p>
        </div>
      </div>
      <h1>Pizza</h1>
      <div class="row">
        <div class="col-lg-3 col-md-6 serv-box">
          <img
            src="m9.png"
            alt=""
            style="height: 10rem; width: 10rem; border-radius: 100px"
          />
          <p>
            Margherita <br />
            Price: ₹99
          </p>
        </div>
        <div class="col-lg-3 col-md-6 serv-box">
          <img
            src="m10.png"
            alt=""
            style="height: 10rem; width: 10rem; border-radius: 100px"
          />
          <p>
            Farmhouse <br />
            Price: ₹215
          </p>
        </div>
        <div class="col-lg-3 col-md-6 serv-box">
          <img
            src="m11.png"
            alt=""
            style="height: 10rem; width: 10rem; border-radius: 100px"
          />
          <p>
            Deluxe Veggie<br />
            Price: ₹235
          </p>
        </div>
        <div class="col-lg-3 col-md-6 serv-box">
          <img
            src="m12.png"
            alt=""
            style="height: 10rem; width: 10rem; border-radius: 100px"
          />
          <p>
            Veggie Paradise<br />
            Price: ₹300
          </p>
        </div>
      </div>
      <h1>Ice Cream Shakes</h1>
      <div class="row">
        <div class="col-lg-3 col-md-6 serv-box">
          <img
            src="m13.png"
            alt=""
            style="height: 10rem; width: 10rem; border-radius: 100px"
          />
          <p>
            Butterscotch Crunch Blended <br />Ice Cream Shake<br />
            Price: ₹229
          </p>
        </div>
        <div class="col-lg-3 col-md-6 serv-box">
          <img
            src="m14.png"
            alt=""
            style="height: 10rem; width: 10rem; border-radius: 100px"
          />
          <p>
            Belgian Chocolate Blended <br />Ice Cream Shake<br />
            Price: ₹229
          </p>
        </div>
        <div class="col-lg-3 col-md-6 serv-box">
          <img
            src="m15.png"
            alt=""
            style="height: 10rem; width: 10rem; border-radius: 100px"
          />
          <p>
            Honey Banana<br />Ice Cream Shake<br />
            Price: ₹209
          </p>
        </div>
        <div class="col-lg-3 col-md-6 serv-box">
          <img
            src="m16.png"
            alt=""
            style="height: 10rem; width: 10rem; border-radius: 100px"
          />
          <p>
            Alphonso Mango Blended<br />Ice Cream Shake<br />
            Price: ₹229
          </p>
        </div>
      </div>
      <div class="container">
        
      </div>
    </section>
    <%- include("footerM") -%>
  </body>
</html>
