    <%- include("links") -%>
    <title>Failure</title>
  </head>
  <body style="text-align: center">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Uh oh!</h1>
        <p class="lead">You are not Signed Up</p>
        <a href="/"><h1>Click Here To Go To Sign Up Page</h1></a>
      </div>
    </div>
    <%- include("co") -%>
  </body>
</html>
