  <p style="font-size: 1.5rem; padding-top: 100px">
    © Copyright 2021 Prime Location
  </p>
  <p style="font-size: 0.9rem">
    Powered By: Deva Corporation <i class="fas fa-smile-wink"></i> and Union
    Error
    <i class="fas fa-exclamation-triangle"></i>
  </p>
</div>
</body>
</html>