<%- include("links") -%>
<title>Failure</title>
</head>
<body style="text-align: center">
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Uh oh!</h1>
    <p class="lead">You Entered Wrong Password</p>
    <a href="/login"><h1>Click Here To Go To Login In Page</h1></a>
  </div>
  <br />
</div>
<%- include("co") -%>
</body>
</html>
